/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss";

:root {
	--color-primary: #2563eb; /* blue-600 */
	--color-secondary: #64748b; /* slate-500 */
	--color-bg: #f9fafb; /* gray-50 */
	--color-fg: #1e293b; /* gray-800 */
}

.dark {
	--color-primary: #60a5fa; /* blue-400 */
	--color-secondary: #cbd5e1; /* slate-300 */
	--color-bg: #18181b; /* zinc-900 */
	--color-fg: #f1f5f9; /* slate-100 */
}
